<div *ngIf="playerHandContext.currentCardInHand != null" id="pulled-card" [ngClass]="'card'">
  <p class="title">{{playerHandContext.currentCardInHand.title}}</p><p>{{playerHandContext.currentCardInHand.value}}
</div>
<div id="kept-cards" class="kept-cards">
    <div *ngFor="let card of playerHandContext.keptCards" [ngClass]="'card'"><p class="title">{{card.title}}</p><p>{{card.value}}</p></div>
</div>
<div id="taken-pieces" class="taken-pieces">
    <div *ngFor="let piece of playerHandContext.pieces" [ngClass]="'card'"><p class="title">{{piece.name}}</p><p>{{piece.description}}</p></div>
</div>
<div id="game-stats" class="game-stats">
  <p id="wins">Wins: {{playerHandContext.wins}}</p>
  <p id="losses">Losses: {{playerHandContext.losses}}</p>  
</div>