<div id="pulled-card">
  <div *ngIf="playerHandContext.currentCardInHand">
    <p>{{playerHandContext.currentCardInHand.title}}</p><p>{{playerHandContext.currentCardInHand.value}}
  </div>
</div>
<div id="kept-cards">
    <div *ngFor="let card of playerHandContext.keptCards"><p>{{card.title}}</p><p>{{card.value}}</p></div>
</div>
<div id="taken-pieces">
    <div *ngFor="let piece of playerHandContext.pieces"><p>{{piece.name}}</p><p>{{piece.description}}</p></div>
</div>
<div id="game-stats">
  <p id="wins">{{playerHandContext.wins}}</p>
  <p id="losses">{{playerHandContext.losses}}</p>  
</div>